<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <%- include('partials/Bootstrap.ejs') %>
        <title>Edit Blog</title>
</head>

<body>
    <%- include('partials/Navbar.ejs') %>
        <h3>Editer cette donnée</h3>
        <div class="container">
            <form action="/post/edit/<%= data._id%>?_method=PUT" method="post">
                <input type="hidden" name="_method" value="PUT">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="title" value="<%= data.Titre  %>">
                    <label for="floatingInput">Titre du post</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="autor" value="<%= data.Auteur  %>">
                    <label for="floatingInput">Auteur</label>
                </div>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="desc"
                        style="height:100px"><%=data.Description %>
                    </textarea>
                    <label for="floatingTextarea">Description</label>
                </div>

                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-warning" value="Editer un post">
                </div>
            </form>
            <br>
            <h5>Supprimer cette donnée</h5>
            <form action="/post/delete/<%= data._id%>?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE">

                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </div>
            </form>
        </div>
</body>

</html>